html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}
body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 1.0s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #999;
  transition: background-color 1.0s ease;
}
